<% unless logged_in? -%>
<ul id="other_login_options">      
  <% if params[:action] == "login" -%>
    <li>
      <%= link_to "I forgot my password", :controller => "auth", :action => "forgot_form" %>
    </li>
  <% end -%>
</ul>
<% end -%>
