<h2>Convention Profile</h2>

<table>
  <tr>
    <th style="text-align: right;"><%= f.label "nickname" %></th>
    <td><%= f.text_field "nickname" %></td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= f.label "phone", "Phone number" %></th>
    <td><%= f.text_field "phone" %></td>
  </tr>
  <tr>
    <th style="text-align: right;"><%= f.label "best_call_time", "Best time to call" %></th>
    <td><%= f.text_field "best_call_time" %></td>
  </tr>
</table>
